h1 {
    text-align: center;
}

h1 {
  font-family: "Lucida Console", sans-serif;
}

body {
    background-color: rgb(65, 185, 224);
}

li {
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    align-items: center;
}

.center-img {
  display: block;      
  margin-left: auto;    
  margin-right: auto;
}

img {
  border: 5px solid #9eec21; 
  border-radius: 12px;        
}

h3 {
  font-family: "Lucida Console", sans-serif;
}
